<h1 class="mt-5 text-center">Quotes App</h1>
<hr>
 <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>My Quotes</h2>
            <hr>
        
        <div *ngFor ="let quote of quotes; let i =index">
            
            <div>
                <div *ngIf ="highest == quote.upvote && quote.upvote>0; then highlight else empty"></div>
                <button (click)="toggleDetails(i)" id="toggle">Toggle Details</button>
                <ng-template #highlight>
                    <h4>{{quote.author}}</h4>
                    <button (click)="upVote(i)" id="btn">Upvote: {{quote.upvote}}</button>
                    <button (click)="downVote(i)" id="btn">Downvote: {{quote.downvote}}</button>   
                </ng-template>

                <ng-template #empty>
                    <h4>{{quote.author}}</h4>
                    <button (click)="upVote(i)" id="btn">Upvote: {{quote.upvote}}</button>
                    <button (click)="downVote(i)" id="btn">Downvote: {{quote.downvote}}</button>   
                </ng-template>
                    
            </div> 
            <div *ngIf="quote.showQuote">
                <app-quote-detail *ngIf="quote.showQuote" [quote]="quote" (isComplete) = "deleteQuote($event,i)"></app-quote-detail>
            </div>    
        </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
    <p *ngIf='quotes.length > 4'>You have too many quotes</p>
</div>






